*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: #043030;
    border-radius: 20px;
    box-shadow: 0 0 5px #043030, 0 0 15px #043030,0 0 30px #043030;
}
.accordion-item{
    margin-top: 10px;
}
.accordion-button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
}